<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761730350409-b7iuj532d642pbk617ts16n6f37rcjqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761730350409-b7iuj532d642pbk617ts16n6f37rcjqj</string>
	<key>API_KEY</key>
	<string>AIzaSyBM1Oe0GjvaVM-VsYH8-z7hnzo2YuwECBc</string>
	<key>GCM_SENDER_ID</key>
	<string>761730350409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codepath.LoginDemo</string>
	<key>PROJECT_ID</key>
	<string>logindemo-eac58</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-eac58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761730350409:ios:9b2be051ce56179bdbee98</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-eac58.firebaseio.com</string>
</dict>
</plist>